 .codeLeft {
	background: #104928;
	color: white;

	padding: 1px;
	margin: 10px;

	border: solid 5px black;
	border-radius: 10px;

	white-space: pre;
	white-space: pre-wrap;
}

.aricleRight {
	background: white;

	padding: 1px;
	margin: 10px;

	border: solid 5px orange;
	border-radius: 10px;
}