 .codeLeft {
	background: #282923;
	color: #65D3E3;

	padding: 1px;
	margin: 10px;

	border: solid 5px black;
	border-radius: 10px;

	white-space: pre;
	white-space: pre-wrap;
}

.aricleRight {
	background: #42433E;

	padding: 1px;
	margin: 10px;

	border: solid 5px black;
	border-radius: 10px;
}

