body {
	background: #ffdccc;
}


/*div {
	padding: 5px;
	margin: 5px;
	background: white;
	border-radius: 8px;
}*/

button {
	margin: 10px;
	padding: 10px;
	background: white;
	color: orange;
	font-weight: bolder;
	border: solid 5px black;
	border-radius: 4px;
}

button:hover {
	color: black;
}

button:active {
	background: orange;
	color: white;
}

button:focus {
	text-decoration: none;
	background: blue;
	color: white;
}


.flex-container {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

.flex-item {
	justify-content: center;
	flex-grow: 1;
	/*flex-flow: row wrap;*/
}

