body {
	/* background: #222225; */
	background-color: #252629;
}
#level0 {
	background-color: #1D1D1F;
}
/*div {
	padding: 5px;
	margin: 5px;
	background: white;
	border-radius: 8px;
}*/

.btn-lvl-0 {
	padding: 10px;
	background-color: inherit;
	color: #525A5B;
	border-width: 0;
}
.btn-lvl-0:hover {
	color: #CACACA;
}

.btn-lvl-0:focus {
	color: #FFFFFF;
}

.slashes {
	padding: 10px;
	color: #525A5B;
	font-weight: 900;
}

.btn-lvl-1 {
	background: #2e3334;
	color: #414d47;

	margin: 5px;
	padding: 5px;
	
	font-weight: bolder;

	border: solid 1px #414d47;
	border-radius: 2px;
}

.btn-lvl-1:hover {
	background: #1A1D1D;
	color: #656E6F;

	border: solid 1px #1A1D1D; /* #656E6F;*/
	border-radius: 1px;
}

.btn-lvl-1:focus {
	text-decoration: none;
	background: black;
	color: #BDE7E5;
	text-shadow: 2px 2px 8px #3D2E6C;

	border: solid 1px #3D2E6C;
	border-radius: 1px;
}

.flex-container {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

.flex-item {
	justify-content: center;
	flex-grow: 1;
	/*flex-flow: row wrap;*/
}


/*@media screen and (max-width: 600px) {*/
@media only screen and (max-device-width: 600px) {

    body {
        background: lightblue;
    }

    button {
    	font-size: 40px;
    }

    .codeLeft {
        font-size: 30px;
    }

    .aricleRight {
    	font-size: 30px;
    }
}