body {
	background: #222225;
}

/*div {
	padding: 5px;
	margin: 5px;
	background: white;
	border-radius: 8px;
}*/

button {
	background: #2e3334;
	color: #414d47;

	margin: 10px;
	padding: 10px;
	
	font-weight: bolder;

	border: solid 5px #414d47;
	border-radius: 4px;
}

button:hover {
	background: #1A1D1D;
	color: #656E6F;

	border: solid 5px #1A1D1D; /* #656E6F;*/
	border-radius: 1px;
}

/*button:active {
	background: orange;
	color: white;
}*/

button:focus {
	text-decoration: none;
	background: black;
	color: #BDE7E5;
	text-shadow: 2px 2px 8px #3D2E6C;

	border: solid 5px #3D2E6C;
	border-radius: 1px;
}


.flex-container {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

.flex-item {
	justify-content: center;
	flex-grow: 1;
	/*flex-flow: row wrap;*/
}


/*@media screen and (max-width: 600px) {*/
@media only screen and (max-device-width: 600px) {

    body {
        background: lightblue;
    }

    button {
    	font-size: 40px;
    }

    .codeLeft {
        font-size: 30px;
    }

    .aricleRight {
    	font-size: 30px;
    }
}